.Mario {
    color: rgb(223, 223, 223);
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}


header:hover {
    color: rgb(57, 55, 55);
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

header:active {
    color: rgb(128, 249, 255);
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

h2:hover {
    color: rgb(4, 10, 104);
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

h2:active {
    color: rgb(128, 249, 255);
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

p:hover {
    color: rgb(120, 233, 255);
}
.Indie {
    color: rgb(223, 223, 223);
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

ol {
    font-family: "Urbanist", sans-serif;
    color:#e7ffff;
    font-weight: bold;
    list-style-position: inside;
}

p {
    font-size: 20px;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    color:#e7ffff
}

.parrafo1 {
    margin-bottom: 40px;
}

body {
    /*background: linear-gradient(rgb(144, 227, 211), rgb(117, 170, 239));*/
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),url(https://cdn.lospec.com/gallery/cats-in-the-blue-lake-731334.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-inline: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.Titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Lexend";
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    min-width: fit-content;
    display: block;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.232);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 2.5px solid rgb(0, 0, 0);
    padding-inline: 20px;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.342);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2.5px solid rgb(0, 0, 0);
    height: 165px;
    box-sizing: border-box;
}
.Juego {
    background-color: rgb(221, 228, 254);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
.Enviar {
    background-color: rgb(221, 228, 254);
    padding: 10px;
    border-radius: 15px;
}

.Content{
    background-color: rgba(15, 4, 90, 0.247);
    padding: 20px;
    border: 2.5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    margin: 20px;
    margin-bottom: 40px;
    z-index: 10;
    backdrop-filter: blur(10px);
    margin-right: 20px;
    align-items: center;
    text-align: center;
    
    
}


.parrafo2 {
    text-align: justify;
    color: rgba(255, 255, 255, 0.734);
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    }

.parrafo2:hover {color: rgba(255, 255, 255, 0.736);}

.Content__Mario, .Content__Indie {
    display: flex;         
    flex-direction: row; 
    align-items: center;   
    background-color: rgba(0, 0, 0, 0.501);
    padding: 10px;
    margin-inline: 20px;
    border-radius: 15px;
    border: 2.5px solid #0084ff;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
}

.Imagen {
    width: 200px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid #0084ff;
}

.formulario {
    margin-top: 20px;
    width: 50%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.Content__lista {
    font-size: 16px;
    text-align: center;
}

footer {
    background-color: rgba(4, 0, 44, 0.762);
    padding: 20px;
    height: 80px;
    margin-top: auto;
}
